AWS_ACCESS_KEY_ID=replace-with-r2-access-key-id
AWS_SECRET_ACCESS_KEY=replace-with-r2-secret-access-key
RESTIC_PASSWORD=replace-with-random-password
RESTIC_REPOSITORY=s3:https://account-id.r2.cloudflarestorage.com/bucket/restic
